<ul class="sidebar-menu" data-widget="tree">
    <li class="header">HEADER</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="active"><a href="#"><i class="fa fa-link"></i> <span>Dashboard</span></a></li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span>Catalog</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">Products</a></li>
            <li><a href="#">Catagories</a></li>
            <li><a href="#">Manufacturers</a></li>
            <li><a href="#">Product reviews</a></li>
            <li><a href="#">Product tags</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span>Sales</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">Orders</a></li>
            <li><a href="#">Shipments</a></li>
            <li><a href="#">Return requests</a></li>
            <li><a href="#">Recurring payments</a></li>
            <li><a href="#">Gift cards</a></li>
            <li><a href="#">Shopping carts and wishlists</a></li>
        </ul>
    </li>
</ul>